.side {
  width: 300px;
  height: 100vh;
  background-color: white;
  padding: 30px 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.side .head {
  display: flex;
  align-items: center;
}
.side .head svg {
  font-size: 32px;
}
.side .head h3 {
  margin: 0 10px;
  font-weight: 400;
}
.side .head span {
  font-size: 12px;
  color: var(--text-color);
}
.activee {
  background-color: #2196f3;
  border-radius: 7px;
  color: white !important;
}
.side ul {
  list-style: none;
  margin-top: 50px;
}
.si ul li {
  display: flex;
  align-items: center;
}
.side ul li a {
  display: flex;
  align-items: center;
  padding: 10px 25px;
  margin: 20px;
  font-size: 17px;
  color: black;
}
.side li span {
  margin: 0 20px -8px;
}
@media (max-width:767px) {
  .side {
    width: 60px;
  }
  .side h3 {
    display: none;
  }
  .side .head span {
    display: none;
  }
  .side ul li a {
    padding: 5px;
  }
  .side li span {
    margin: 0 !important;
  }
}
